* {
  box-sizing: border-box;
  background-color: lightyellow;
  font-family: "Times New Roman", Times, serif;
}
input,
textarea {
  background-color: whitesmoke;
  padding: 20;
  min-height: 15h;
  justify-content: center;
  border-radius: 2%;
}
vagoBox {
}
button {
  background-color: rgb(70, 92, 97);
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  border-radius: 20%;
}
